*{
    box-sizing: border-box;
}
.show-pet{
    display:inline-block;
    width: 25vw;
    height: 45vh;
}

img{
    width:25vw;
    height:30vh;
}

label{
    display: inline-block;
    width: 15vw;
}

input{
    width: 80vw;    
}

textarea{
    width: 80vw;
}