*{
    box-sizing: border-box;
}

.form-element{
    margin-bottom: 1em;
}

label{
    width:10vw;
    display: inline-block;
}

.user-input{
    width:60vw;
}

.profile-pic{
    width: 15vw;
    height:25vh;
}

.content-box{
    height: 20vh;
    vertical-align: top;
}


.inline-buttons{
    display:inline-block;
}